{{template "header" }}
<style type="text/css">
    .bs-example {
        margin: 20px;
    }
    .form-control:focus {
        border-color: orange;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px orange;
    }
</style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
{{template "body-navbar"}}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="tables">Tables</a>
            </li>
            <li class="breadcrumb-item active">Détails du Produit</li>
        </ol>

        <div class="container">
            <div class="ephrau" align="center">
                <div class="col-md-6">
                    <div class="form-area">
                        <form role="form" action="/misajour" method="GET">
                            <br style="clear:both">
                            <h3 style="margin-bottom: 25px; text-align: center;">Détails du produit</h3>
                            <table class="" id="myTable">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><label class="ephrauLabel">Code barre:</label></td>
                                    <td><label class="" for="Code">{{.Code}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="ephrauLabel">Libellé:</label></td>
                                    <td><label class="" for="libelle">{{.Libelle}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="ephrauLabel">Quantité:</label></td>
                                    <td><label class="" for="quantite">{{.Quantite}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="ephrauLabel">Prix Unitaire:</label></td>
                                    <td><label class="" for="Prix">{{.Prix}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="ephrauLabel">Date d'entrée:</label></td>
                                    <td><label class="" for="Date_entree">{{.Date_entree}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="ephrauLabel">Catégorie:</label></td>
                                    <td><label class="" for="Categorie">{{.Categorie}}</label></td>
                                </tr>
                                <tr>
                                    <td><label class="ephrauLabel">Seuil:</label></td>
                                    <td><label class="" for="Seuil">{{.Seuil}}</label></td>
                                </tr>
                                </tbody>
                            </table>
                            <button class="btn pull-right" type="submit" name="enregistrer" style="background-color: #ff7b0a">Modifier</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © WaystoCap 2018</small>
                </div>
            </div>
        </footer>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajout</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">L'ajout s'est éffectué avec succès</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" data-dismiss="modal">Ok!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="webPages/vendor/jquery/jquery.min.js"></script>
<script src="webPages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="webPages/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="webPages/js/sb-admin-eph.js"></script>

</body>
</html>

        <script>
            var nomcaracteristique = {{.NomCaracteristique}};
            var valeurcaracteristique={{.ValeurCaracteristique}};
            var table=document.getElementById("myTable");
            console.log(valeurcaracteristique);

            if(nomcaracteristique!=null){
                for(i=0;i<nomcaracteristique.length;i++){

                    var tr=document.createElement("tr");
                    var td1=document.createElement("td");
                    var td2=document.createElement("td");

                    var label1=document.createElement("label");
                    label1.setAttribute("class","ephrauLabel");
                    label1.innerText=nomcaracteristique[i].String+":";

                    var label2=document.createElement("label");
                    if(valeurcaracteristique!=null && valeurcaracteristique[i]){
                        label2.innerText=valeurcaracteristique[i].String;
                    }else{
                        label2.innerText="champs vide";
                    }

                    table.appendChild(tr);tr.appendChild(td1);td1.appendChild(label1);tr.appendChild(td2);td2.appendChild(label2);
                }
            }
        </script>