* { box-sizing: border-box; }
body {
    font: 16px Arial;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input.inpauto[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}
table{
    border: #212529 solid 1px;
}
td {border:1px solid #7f7f7f;width:50px;height:50px;text-align:center;}