{{template "header" }}
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
{{template "body-navbar"}}
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="appro">Approvisionnement</a>
            </li>
            <li class="breadcrumb-item active"></li>
        </ol>

        <div class="row">
            <div class="col-xl-4 col-sm-6 mb-3">
                <div class="card text-white o-hidden h-100" style="background-color: #28a745">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-shopping-bag"></i>
                        </div>
                        <div class="mr-5">Nouveau Produit</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="createproduct">
                        <span class="float-left">Créer</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-3">
                <div class="card text-white o-hidden h-100" style="background-color: #ff7b0a">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-shopping-cart"></i>
                        </div>
                        <div class="mr-5">Entrée en stock</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="autocomplete">
                        <span class="float-left">Faire un approvisionnement</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-3">
                <div class="card text-white o-hidden h-100" style="background-color: royalblue">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">Historique des entrées</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="HistoAppro">
                        <span class="float-left">Voir l'historique</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="../webPages/login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript-->
<script src="webPages/vendor/jquery/jquery.min.js"></script>
<script src="webPages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="webPages//vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="webPages/js/sb-admin-eph.js"></script>
</body>
</html>